.authContainer{
    width:80%;
    min-height: 420px;
    height: auto;
    overflow: auto;
    margin: 0% 10%;
    border-radius: 20px;
}
    .authContainerLeft{
       width: 50%;
       min-height: 420px;
       height: auto;
       float: left; 
       background-color: red;
       background-image: url('../../../mainHome/img/login.png');
       background-size: 100% 100%;
    }

    .authContainerRight{
       width: 50%;
       height: auto;
       float: left; 
    }
        .userRightContent{
            width: 90%;
            height: auto;
            margin: 5% 5%;
            text-align: center;
        }
            .userRightContent h2{
                color: red;
            }
            .userAuthDetailFill input{
                background-color: rgb(184, 250, 255);
                width: 70%;
                outline: none;
                border: none;
                border-radius: 20px;
                font-weight: 500;
                padding: 2% 0%;
                margin: 2% 15%;
                text-align: center;
            }
                .userAuthDetailFill input:hover{
                    background-color: black;
                    color: white;
                }
            .userAuthDetailFill button{
                background-color: rgb(16, 16, 113);
                color: white;
                margin: 3% 0% 5%;
                padding: 2% 6%;
                font-weight: 600;
                border: 2px solid rgb(217, 200, 89);
                border-top: 0;
                border-left: 0;
                border-radius: 3px;
            }
                .userAuthDetailFill button:hover{
                    color: yellow;
                    border: 2px solid rgb(93, 91, 79);
                    border-top: 0;
                    border-left: 0;
                }
            .userRightContent h5{
                font-weight: 400;
                margin: 2% 0%;
            }