* { 
  margin: 0;
  padding: 0;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0.15rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px white; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 5, 183); 
  border-radius:30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue; 
}