.adminCarDetailContainer{
    width: 79.25%;
    min-height: 450px;
    height: auto;
    overflow: auto;
    margin: 0% 10%;
    border: 2px solid blue;
    border-radius: 10px;
}
    .adminCarDetailLeftBox{
        width: 50%;
        min-height: 450px;
        height: auto;
        overflow: auto;
        float: left;
        text-align: center;
    }
        .adminCarDetailLeftBox img{
            width: 85%;
            margin: 10% 7.5% 5%;
        }
        .adminCarDetailLeftBox input{
            margin: 0% 0% 5%;
            padding: 1% 3%;
            border: none;
            color: blue;
            background-color: antiquewhite;
            border-radius: 5px;
        }
        .adminCarDetailLeftBox button{
            background-color: rgb(29, 30, 123);
            color: white;
            width: fit-content;
            padding: 2% 4%;
            margin: 0% 5%;
            font-weight: 600;
            text-align: center;
            border-radius: 2px;
            border: 3px solid yellow;
            border-top: 0;
            border-left: 0;
        }
        .adminCarDetailLeftBox button:hover{
            border: 3px solid rgb(154, 154, 51);
            border-top: 0;
            border-left: 0;
        }
        .adminCarDetailLeftBox a{
            color: white;
            text-decoration: none;
        }

    .adminCarDetailRightBox{
        width: 50%;
        min-height: 450px;
        height: auto;
        overflow: auto;
        float: left;
    }
        .adminCarDetailRightContainer{
            width: 90%;
            float: left;
            margin: 5% 10% 5% 0%;
        }
            .adminCarDetailRightContainer hr{
                width: 40%;
                height: 5px;
                background-color: red;
                border: none;
                border-radius: 5px;
                margin: 2% 0% 5%;
            }
                .adminCarDetailRightContainer button{
                    background-color: rgb(29, 30, 123);
                    color: white;
                    width: fit-content;
                    padding: 2% 4%;
                    margin: 2% 0% 5%;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 2px;
                    border: 3px solid yellow;
                    border-top: 0;
                    border-left: 0;
                }
                .adminCarDetailRightContainer button:hover{
                    border: 3px solid rgb(154, 154, 51);
                    border-top: 0;
                    border-left: 0;
                }
                .adminCarDetailRightContent{
                    display: flex;
                    background-color: rgb(255, 243, 198);
                    margin: 3% 0%;
                    border-radius: 0px 0px 15px 0px;
                }
                    .adminCarDetailRightContent b{
                        width: 23%;
                        background-color: blue;
                        color: white;
                        font-size: 0.9em;
                        font-weight: 500;
                        padding: 1% 3%;
                        border: none;
                    }
                    .adminCarDetailRightContent p{
                        width: 65%;
                        padding: 1% 3%;
                        color: blue;
                        font-size: 0.9em;
                        font-weight: 400;
                        border: none;
                        border-radius: 5px;
                    }
                    .adminCarDetailRightContent input{
                        width: 65%;
                        padding: 1% 3%;
                        color: blue;
                        background-color: rgb(255, 243, 198);
                        font-weight: 400;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                    }