.passwordContainer{
    width: 49.6%;
    min-height: 300px;
    height: auto;
    margin: 5% 25% 10%;
    overflow: auto;
}
.inputFormContainer{
    width: 60%;
    margin: 5% 20%;
    text-align: center;
}
.inputFormContainer hr{
    background-color: red;
    width: 60%;
    height: 5px;
    margin: 3% 20% 2%;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.inputFormContainer input{
    width: 98%;
    height: auto;
    padding: 1.5% 2%;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 0.5rem;
    outline: none;
}
.inputFormContainer input:hover{
    border: 1px solid greenyellow;
}

.inputFormContainer button{
    background-color: blue;
    color: white;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0.8% 5%;
    margin: 5% 0% 2%;
    border-radius: 0.25rem;
    border: none
}
.inputFormContainer button:hover{
    background-color: rgb(3, 3, 197);
}