.bookingContainer{
    width: 100%;
    height: auto;
    overflow: auto;
}
.bookingContainer h2{
    text-align: center;
}
.bookingContainer hr{
    width: 30%;
    height: 2px;
    margin: 1% 35% 3%;
    border: none;
    background-color: black;
}