.showBookingContiner{
    width: 70%;
    height: auto;
    overflow: auto;
    margin: 2% 15% 3%;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.showLeft{
    width: 38%;
    margin: 0% 2% 0% 0%;
    min-height: 280px;
    height: auto;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
}

.showLeft img{
    width: 80%;
}
.showRight{
    width: 60%;
    padding: 2% 0%;
    height: auto;
    overflow: auto;
    float: left;
}

.showOrderDetailsCSS{
    display: flex;
    margin: 1% 0%;
}
.showRighthrCSS{
    width: 50%;
    height: 1px;
    margin: 1% 50% 2% 0%;
    border: none;
    background-color: rgb(70, 0, 0);
    border-radius: 5px;
}
.showOrderDetailsCSS b{
    width: 30%;
    padding: 0% 2.5% 0% 0%;
    font-size: 0.9em;
    font-weight: 600;
    display: flex;
    justify-content: left;
    align-items: center;
}
.showOrderDetailsCSS p{
    width: 60%;
    padding: 0% 2.5%;
    font-size: 0.9em;
    display: flex;
    justify-content: left;
    align-items: center;  
}
.showRight button{
    padding: 0.5% 2%;
    margin: 2% 5% 2% 0%;
    font-size: 0.8em;
    color: white;
    background-color: blue;
    border: 2px solid yellow;
    border-top: 0;
    border-left: 0;
    border-radius: 2px 0 0 0;
}
.showRight button:hover{
    border: 2px solid rgb(139, 139, 2);
    border-top: 0;
    border-left: 0;
}