.footerContainer{
    width: 100%;
    height: auto;
}
    .footerContainerTop{
        width: 100%;
        height: auto;
        float: left;
        background-color: rgb(55, 53, 46);
        color: white;
    }
        .footerContainerTop p{
            margin: 0% 0% 2%;
            font-weight: 500;
        }
        .footerContainerTop hr{
            width: 15%;
            height: 5px;
            border: none;
            background-color: red;
            border-radius: 5px;
            margin: 0.5% 0% 2%;
        }
        .footerContainerLeft{
            width: 40%;
            float: left;
            margin: 2% 0% 2% 10%;
        }
            .footerContainerLeftContent{
                width: 90%;
                margin: 0% 5%;
            }
        .footerContainerMid{
            width: 20%;
            float: left;
            margin: 2% 0% 2%;
        }
            .footerContainerMidContent{
                width: 90%;
                margin: 0% 5%;
            }
        .footerContainerRight{
            width: 20%;
            float: left;
            margin: 2% 10% 2% 0%;
        }
            .footerContainerRightContent{
                width: 90%;
                margin: 0% 5%;
            }

    .footerContainerBottom{
        width: 100%;
        min-height: 30px;
        height: auto;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }



@media screen and (max-width: 600px) {
    .footerContainerTop{
        width: 100%;
        height: auto;
    }
        .footerContainerTop p{
            margin: 2% 0% 5%;
            font-weight: 400;
            font-size: 0.6em;
        }
        .footerContainerTop h2{
            font-size: 1em;
        }
        .footerContainerTop h3{
            font-size: 0.8em;
        }
        .footerContainerTop hr{
            width: 40%;
            height: 4px;
            margin: 1% 0% 5%;
        }
        .footerContainerLeft{
            width: 42.5%;
            float: left;
            margin: 2% 0% 2% 5%;
        }
        .footerContainerMid{
            width: 22.5%;
            float: left;
            margin: 4% 0% 2%;
        }
            .footerContainerMidContent{
                width: 90%;
                margin: 0% 5%;
            }
        .footerContainerRight{
            width: 22.5%;
            float: left;
            margin: 4% 00% 2% 0%;
        }
            .footerContainerRightContent{
                width: 95%;
                margin: 0% 0% 0% 10%;
            }

    .footerContainerBottom h5{
        font-weight: 300;
    }

}