.userCarBookBook{
    width: 99%;
    height: auto;
    overflow: auto;
}
    .userCarBookCartLeft{
        width: 50%;
        min-height: 450px;
        height: auto;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .userCarBookCartLeft img{
        width: 95%;
    }
    
    .userCarBookCartRight{
        width: 50%;
        min-height: 450px;
        height: auto;
        float: left;
    }
        .userCarBookCartRight hr{
            width: 20%;
            height: 5px;
            background-color: red;
            border: none;
            border-radius: 5px;
            margin: 1% 0% 5%;
        }
        .userCarBookCartRight label{
            color: blue;
            font-weight: 900;
            font-size: 0.9em;
            margin: 0% 2% 0% 0%;
        }
        .userCarBookCartRight select{
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
        }
        .userCarBookCartRight option{
            color: white;
            font-weight: 800;
            text-align: center;
        }
        .cartBookingDetailRight{
            display: flex;
            border: 1px solid rgb(244, 240, 240);
            border-top: 0;
            border-right: 0;
            margin: 0% 0% 2%;
        }
        .cartBookingDetailRight p{
            background-color: blue;
            color: white;
            width: 30%;    
            padding: 1.5% 2.5%;
            font-weight: 400;
        }
        .cartBookingDetailRight h3{
            background-color: white;
            width: 60%;
            padding: 1% 2.5%;
        }
        .cartBookingRightOption{
            margin:1% 0% 2%;
        }
        .cartBookingDetailRightPrice{
            display: flex;
            margin: 5% 0%;
        }
        .cartBookingDetailRightTextArea{
            width: 25%;
            background-color: rgb(170, 254, 254);
            margin: 0% 5% 0% 0%;
            border-radius: 5px;
            text-align: center;
          }
          .cartBookingDetailRightTextArea{
            color: red;
            padding: 1.5% 0%;
            font-weight: 700;
          }
          .cartBookingDetailRightButton{
            width: 70%;
          }
          .cartBookingDetailRightButton button{
            background-color: black;
            color: yellow;
            width: 30%;
            padding: 2.25% 4%;
            border: 3px solid rgb(255, 185, 87);
            border-top: 0;
            border-left: 0;
            border-radius: 3px;
            font-weight: 600;
        }
        .cartBookingDetailRightButton button:hover{
            border: 3px solid rgb(193, 150, 150);
            border-top: 0;
            border-left: 0;
        }
        .userCarBookCartRight h5{
            font-weight: 400;
            margin: 0% 0% 2%;
        }


@media screen and (max-width: 600px) {
    .userCarBookCartLeft{
        width: 100%;
        min-height: 200px;
    }
    .userCarBookCartLeft img{
        width: 70%;
    }
    
    .userCarBookCartRight{
        width: 100%;
        min-height: 450px;
    }
        .userCarBookCartRight hr{
            width: 50%;
        }
        .userCarBookCartRight label{
            font-weight: 400;
            font-size: 0.6em;
        }
        .userCarBookCartRight select{
            font-weight: 400;
            font-size: 0.6em;
        }
        .userCarBookCartRight option{
            font-weight: 400;
        }
        .cartBookingDetailRight p{
            font-size: 0.6em;
            font-weight: 300;
        }
        .cartBookingDetailRight h3{
            font-size: 0.7em;
            font-weight: 400;
        }


        .cartBookingDetailRightPrice{
            margin: 10% 0%;
        }
        .cartBookingDetailRightTextArea{
            width: 40%;
            background-color: rgb(170, 254, 254);
            margin: 0% 5% 0% 0%;
            padding: 1% 0%;
            font-weight: 700;
          }
          .cartBookingDetailRightButton{
            width: 60%;
          }
          .cartBookingDetailRightButton button{
            width: 60%;
        }
        .userCarBookCartRight h5{
            font-weight: 400;
            font-size: 0.7em;
            margin: 0% 0% 2%;
        }
}