.userCardContainer{
    width: 99%;
    min-height: 480px;
    overflow: auto;
    height: auto;
    border: 2px solid rgb(168, 249, 255);
    border-radius: 10px;
}
    .userCardLeft{
        width: 45%;
        min-height: 480px;
        height: auto;
        overflow: auto;
        float: left;
    }
        .userCardLeftContentTop{
            width: 100%;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .userCardLeftContentTop img{
                width: 65%;
                border-radius: 50%;
                border: 2px solid rgb(161, 161, 161);
            }
        .userCardLeftContentBottom{
            width: 100%;
            height: 130px;
            text-align: center;
        }
            .userCardLeftContentBottom a{
                color: white;
                text-decoration: none;
            }
            .userCardLeftContentBottom button{
                background-color: rgb(97, 97, 97);
                color: white;
                font-weight: 600;
                border: none;
                padding: 1% 4%;
                margin: 0% 0% 2%;
            }
                .userCardLeftContentBottom button:hover{
                    background-color: black;
                    color: white;
                }

    .userCardRight{
        width: 55%;
        min-height: 480px;
        height: auto;
        overflow: auto;
        float: left;
    }
        .userCardRightBox{
            width: 80%;
            float: left;
            margin: 3% 10% 5% 10%;
        }
            .userCardRightBox hr{
                width: 50%;
                height: 5px;
                background-color: rgb(13, 32, 196);
                border: none;
                border-radius: 10px;
                margin: 1% 0% 5%;
                border-bottom: 2px solid rgb(0, 195, 255);
            }
            .userCardRightDetails{
                display: flex;
                margin: 2% 0% 2%;
                border-left: 4px solid rgb(237, 218, 109);
                border-bottom: 5px solid rgb(255, 205, 205);
            }
                .userCardRightDetails b{
                    width: 29%;
                    background-color: blue;
                    color: white;
                    font-weight: 500;
                    padding: 1.25% 2% 1% 3%;
                    border: none;
                    font-size: 0.9em;
                    text-align:end;
                }
                .userCardRightDetails p{
                    background-color: rgb(210, 255, 244);
                    color: rgb(118, 0, 0);
                    width: 64%;
                    padding: 1% 3%;
                    font-weight: 400;
                    border: none;
                }
                .userCardRightDetails input{
                    background-color: rgb(167, 249, 228);
                    color: rgb(118, 0, 0);
                    width: 60%;
                    padding: 1% 3%;
                    font-weight: 400;
                    border: none;
                    outline: none;
                }
            .userCardRightBox button{
                background-color: black;
                color: white;
                padding: 2% 5%;
                margin: 1% 0% 2%;
                border-top: 1px solid yellow;
                border-right: 2px solid yellow;
                border-left: 1px solid yellow;
                border-bottom: 2px solid yellow;
            }
                .userCardRightBox button:hover{
                    border-top: 2px solid yellow;
                    border-right: 1px solid yellow;
                    border-left: 2px solid yellow;
                    border-bottom: 1px solid yellow;
                }