.homeTopContainer{
    width: 100%;
    min-height: 550px;
    height: auto;
    overflow: auto;
    background-color: red;
    color: white;
    font-weight: 700;
}

    .homeTopBoxLeft{
        width: 50%;
        float: left;
    }
        .homeTopBoxLeftContent{
            width: 60%;
            min-height: 480px;
            margin: 0% 10% 0% 30%;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .headingH1Style{
            background-color: black;
            color: white;
            font-weight: 800;
            width: 10%;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 2% 1%;
        }

    .homeTopBoxRight{
        width: 50%;
        min-height: 550px;
        float: left;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
        .homeTopBoxRight img{
            width: 80%;
            display: flex;
            justify-content:center;
            align-items: center;
        }