.homeTopContainer{
    width: 100%;
    min-height: 550px;
    height: auto;
    overflow: auto;
    background-color: red;
    color: white;
    font-weight: 700;
}

    .homeTopBoxLeft{
        width: 50%;
        float: left;
    }
        .homeTopBoxLeftContent{
            width: 60%;
            min-height: 480px;
            margin: 0% 10% 0% 30%;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .homeTopBoxLeftContent button{
            background-color: black;
            color: white;
            padding: 1.5% 3%;
            border: 2px solid white;
            border-radius: 2px;
            border-top: 0;
            border-left: 0;
        }
        .homeTopBoxLeftContent button:hover{
            background-color: black;
            border: 1px solid white;
            border-top: 1px solid black;
            border-left: 1px solid black;
        }

    .homeTopBoxRight{
        width: 50%;
        min-height: 550px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .homeTopBoxRight img{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }