.passwordContainer{
    width: 49.6%;
    min-height: 300px;
    height: auto;
    margin: 0% 25% 10%;
    overflow: auto;
    border: 2px solid black;
    border-radius: 20px;
}
.inputFormContainer{
    width: 60%;
    margin: 5% 20%;
    text-align: center;
}
.inputFormContainer hr{
    background-color: red;
    width: 60%;
    height: 5px;
    margin: 3% 20% 2%;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.inputFormContainer input{
    background-color: rgb(167, 249, 228);
    color: rgb(118, 0, 0);
    width: 80%;
    padding: 2% 3%;
    margin: 0% 0% 5%;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: none;
}
.inputFormContainer button{
    background-color: black;
    color: white;
    padding: 2% 5%;
    margin: 5% 0% 2%;
    border-top: 1px solid yellow;
    border-right: 2px solid yellow;
    border-left: 1px solid yellow;
    border-bottom: 2px solid yellow;
}
.inputFormContainer button:hover{
    border-top: 2px solid yellow;
    border-right: 1px solid yellow;
    border-left: 2px solid yellow;
    border-bottom: 1px solid yellow;
}