.orderCardConatiner{
    width:90%;
    margin: 5% 5% 3%;
    height: auto;
    overflow: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
    .orderCardLeftShow{
        width: 38%;
        height: 280px;
        margin: 0% 0%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
    }
        .orderCardLeftShow img{
            width: 80%;
        }

    .orderCardRightShow{
        width:60%;
        margin: 1% 0% 1% 2%;
        float: right;
    }
        .orderCardRightShow h3{
            margin: 0% 0%;
        }
        .orderCardRightShow hr{
            width: 75%;
            height: 3px;
            margin: 1% 0% 2%;
            border: none;
            border-radius: 2px;
            background-color: black;
        }
        .showUserDetail{
            display: flex;
            font-size: 0.9em;
        }
            .showUserDetail b{
                width: 20%;
            }
            .showUserDetail p{
                width: 80%;
                margin: 0% 0% 1%;
            }

        .orderCardRightShow button{
            margin: 2% 0% 1%;
            padding: 0.5% 3%;
            border-radius: 5px;
            font-weight: 500;
            background-color: rgb(0, 0, 0);
            color: yellow;
            border: 1px solid rgb(225, 225, 222);
        }
            .orderCardRightShow button:hover{
                color: red;
                background-color: white;
                border: 1px solid blue;
            }

@media screen and (max-width: 600px) {
    .orderCardConatiner{
        width: 99.5%;
        margin: 2% 00%;
        border: 2px solid rgb(242, 242, 255);
        border-radius: 10px;
    }
    .orderCardConatiner{
        width:89.5%;
        margin: 5% 5% 10%;
    }
    .orderCardLeftShow{
        width: 100%;
        height: auto;
        margin: 5% 0%;
        float: left;
    }
        .orderCardLeftShow img{
            width: 60%;
            margin: 5% 20%;
            height: 100%;
            border-radius: 45%;
        }

    .orderCardRightShow{
        width:80%;
        margin: 1% 0%;
        padding: 0% 10%;
        float: right;
    }
        .orderCardRightShow h3{
            font-size: 1em;
        }
        .showUserDetail{
            display: flex;
            font-size: 0.8em;
        }
            .showUserDetail b{
                width: 30%;
            }
            .showUserDetail p{
                width: 70%;
                margin: 1% 0%;
            }

        .orderCardRightShow button{
            margin: 2% 0% 10%;
        }
}