.carRentalNavBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: white
}

.carRentalNavBar a {
    text-decoration: none;
}

.navBarWebName {
    width: 32%;
    height: max-content;
    float: left;
    overflow: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navBarWebName p {
    color: black;
    font-weight: 900;
}

.navBarWebNavigation {
    width: 68%;
    height:max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarGeneralOption {
    width: 100%;
    height: max-content ;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navBarGeneralOption p {
    color: rgb(57, 122, 179);
    padding: 0 3%;
    font-size: 1.05rem;
    font-weight: 700;
}

.navBarGeneralOption a:hover {
    color: red;
    border-bottom: 5px solid red;
    direction: left;
}

.navBarAuthOption {
    position: absolute;
    width: 15%;
    margin: 0 17% 0 68%;
    height: max-content;
    padding: 1rem;
    float: right;
    border: 1px solid antiquewhite;
    border-radius: 1rem;
    background-color: white;
}

.navBarOfferBox {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    font-weight: 400;
}
.navBarOfferBox p {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {

    .carRentalNavBar {
        height: 2.75rem;
    }

    .navBarWebName p {
        font-size: 1.15rem;
    }

    .navBarGeneralOption {
        padding: 0 5% 0 0;
    }

    .navBarGeneralOption p {
        padding: 0 2%;
        font-size: 0.8rem;
    }

    .navBarOfferBox {
        height: 1.6rem;
        font-size: 0.65rem;
    }

}

@media screen and (min-width: 601px) {

    .carRentalNavBar {
        height: 2.9rem;
    }

    .navBarWebName p {
        font-size: 1.25rem;
    }

    .navBarGeneralOption {
        padding: 0 8% 0 0;
    }

    .navBarGeneralOption p {
        font-size: 0.75rem;
    }

    .navBarOfferBox {
        height: 1.75rem;
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 900px) {

    .carRentalNavBar {
        height: 3.25rem;
    }

    .navBarWebName p {
        font-size: 1.4rem;
    }

    .navBarGeneralOption {
        padding: 0 10% 0 0;
    }

    .navBarGeneralOption p {
        font-size: 1.05rem;
    }

    .navBarOfferBox {
        height: 2rem;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1200px) {

    .carRentalNavBar {
        height: 3.5rem;
    }

    .navBarWebName p {
        font-size: 1.8rem;
    }

    .navBarGeneralOption {
        padding: 0 10% 0 0;
    }

    .navBarGeneralOption p {
        font-size: 1.05rem;
    }

    .navBarOfferBox {
        height: 2rem;
        font-size: 0.8rem;
    }
}